<!DOCTYPE html>
<html lang="en">
<head>
  <title>RDB</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2>RethinkDB Node Express Linux </h2>
  <h1><%= name %></h1>
  <% if (data) { %>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Author</th>
          <th>Code</th>
          <th>Date</th>
          <th>Day</th>
        </tr>
      </thead>
      <tbody>
        <% data.forEach(function(data){ %>
        <tr>
          <td><%= data.author %></td>
          <td><%= data.code %></td>
          <td><%= data.date %></td>
          <td><%= data.day %></td>
        </tr>
        <% }); %>
      </tbody>
    </table>
  <% } %>
</div>

</body>
</html>
